@font-face {
	font-family: norwester;
	src: url(content/norwester.otf);
}

@font-face {
	font-family: fredericka;
	src: url(content/fredericka-the-great.regular.ttf);
}

@font-face {
	font-family: oswald;
	src: url(content/Net-Oswald-Medium.ttf);
}



body{
  background-color: #E8E8E8;
  background-size: 1200px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  margin: 0px;
  padding: 0px;
  min-width: 800px; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    padding: 0px 7px 0px 7px;
}

header{
  height: 60px;
  background-color: #231F20;
  padding: 0px 8% 0px 0px;
  border-bottom: 2px solid #707070;
}

header li {
  display: inline;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 25px 0px 0px 35px;
  color: #D6D6D6;
  font-family: norwester, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 12px;

}

.logo{
  position: absolute;

  margin: 15px 0px 0px 145px;
  z-index: 2000;
  width: 130px;
}

.logo-back{
  margin: 0px 0px 0px 80px;
  padding: 20px 0px 0px 0px;
  position: absolute;
  height: 90px;
  width: 250px;
  /* background-color: #231F20; */
  background-color: #231F20;
  /* z-index: -898; */
  border: 2px solid #707070;
  border-radius: 90% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}

.header-bar{
  position: absolute;
  margin: -10px 0px 0px 80px;
  background-color: #231F20;
  height: 70px;
  width: 260px;
  z-index: 1000;
}
.banner-background{
  position: relative;
  margin: 0px 0px 0px 0px;
  z-index: -999;
  width: 100%;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.6));
}



.preview-container{
  position: fixed ;
  width: 100% ;
  display: inline-block;
  margin: 5% 0px 0px 0px;
  position: relative;
  text-align: center;
  height: 300px;
}
.preview-image{
  margin: 0px 10px 0px 10px;
  border-radius: 20px;
  position: relative;
  width:25%;
  height:100%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  background-color: #E8E8E8;
  vertical-align: middle;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  border:solid 1px darkgray;
}

  .preview-image img{
    vertical-align: middle;
    width:80%;
    height:80%;
    object-fit:contain;

  }

.orderOptions{
  padding: 10% 0px 10% 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #6f6f6f;
}

footer{
  width: 100%;
  display: inline-flex;
  position: relative;
  padding: 15px 0px 15px 0px;
  height: 140px;
  background: rgb(41,39,42);
  background: linear-gradient(0deg, rgba(41,39,42,1) 0%, rgba(56,60,69,1) 100%);
  border-top: solid 1px #525252;
}

.foot-bar{
  text-align: right;
  padding: 0px;
  height: 30px;
  width: 100%;
  background: rgb(45,44,49);
  background: linear-gradient(0deg, rgba(45,44,49,1) 0%, rgba(56,60,69,1) 100%);
  border-top: solid 1px #525252;
  color: #b5b5b5;
  font-size:8px ;
  font-family: Arial, Helvetica, sans-serif;
}

.foot-bar-text{
  padding:10px 70px 10px 0px;
}


.end{
  padding: 12px 0px 0px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: oswald, Verdana, Geneva, Tahoma, sans-serif;
  border-right: 1px solid gray;
  width: 25%;
  vertical-align: middle;
  color: white;

}

.signup{
  padding: 35px 0px 0px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: norwester, Verdana, Geneva, Tahoma, sans-serif;
  width: 35%;
  vertical-align: middle;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;

}

.contact{
  padding: 35px 0px 0px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: norwester, Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  vertical-align: middle;
  color: white;
  font-size: 50%;
  letter-spacing: 1px;
}

.followus{
  padding: 35px 0px 0px 0px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: norwester, Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  vertical-align: middle;
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
}

#sign{
  border-radius: 5px 0px 0px 5px;
  height:20px;
  width: 150px;
}

.sign-button{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          border: 2px solid darkgray;
  border-radius: 5px;
  background: #ccc;
  height:26px; 
  width: 60px;
  margin: 0px 0px 0px -10px;
 
}

.sign-container{
  height: 20px;
  padding: 5px 0px 0px 0px;
}