body {
  margin: 0px 0px 0px 0px;
}

@font-face {
  font-family: elephant-light;
  src: url(content/fonts/elephant-light.otf);
}

@font-face {
  font-family: tahoma-font;
  src: url(content/fonts/Tahoma-Regular-font.ttf);
}

.smallMenu {
  display: none;
}

header {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  border: 0px;
  position: fixed;
  z-index: 99;
  border-bottom: solid 2px #c03d04;
  box-shadow: 0px 2px 7px;
}

.logo {
  content: url(content/images/logo.png);
  height: 90px;
  width: 192px;
  padding: 10px 0px 0px 30px;
}

.menu {
  border: solid #0C9 0px;
  position: absolute;
  width: 700px;
  height: 45;
  right: 0px;
  padding: 0px 30px 0px 0px;
  margin: -90px 0px 0px 0px;
  z-index: 50;
}

.menu ul {
  font-weight: 300;
  font-size: 12px;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  float: right;
}

.menu ul li {
  float: left;
  height: 45px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  list-style: none;
}

.menuButtons {
  margin: 0px 0px 0px 0px;
  display: block;
  padding: 10px 10px 0px 10px;
  font-family: "elephant-light", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

.buttonIcons {
  display: inline-block;
  vertical-align: bottom;
  padding: 0px 5px 0px 0px;
}


/* ################################## Horizontal title bar #################################### */
.images_title_bar {
  margin: 100px 0px 0px 0px;
  padding: 40px 50px 100px 50px;
  font-family: tahoma, tahoma-font, sans-serif;
  font-size: 12px;
  letter-spacing: .05em;
  color: #ccc;
}

.images_title_bar_line {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  letter-spacing: .5em;
  font-weight: bold;
}

.images_title_bar_line>span {
  position: relative;
  display: inline-block;
}

.images_title_bar_line>span:before,
.images_title_bar_line>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10000px;
  height: .5px;
  background: #CCC;
}

.images_title_bar_line>span:before {
  right: 100%;
  margin-right: 20px;
}

.images_title_bar_line>span:after {
  left: 100%;
  margin-left: 15px;
}


/* ################################ Shadow Seperator ###################################### */
.separator {
  margin: 60px 0px 0px 0px;
  background: #fff;
  height: 10px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  -moz-box-shadow: 0px -4px 7px rgb(102, 102, 102);
  -webkit-box-shadow: 0px -4px 7px rgb(102, 102, 102);
  box-shadow: 0px -4px 7px rgb(102, 102, 102);
}

.separator_fixer {
  height: 10px;
  margin: -5px 0px -40px 0px;
  background: #fff;
}

/* ############################## Gallery Container ########################################## */
.container {
  max-width: 940px;
  margin: 0px auto;
  padding: 0px 25px 0px 25px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 48px;
  border: solid 0px red;
  justify-content: center;

}


.gallery img {
  width: 282px;
  flex-shrink: 282px;
}



.gallery-item {
  width: 282px;
  flex-shrink: 282px;
  position: relative;
  margin: 15px;
  color: #fff;
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family: arial, sans-serif;
  margin-right: 35.2px;
}




.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}



/* The following code will only run if your browser supports CSS grid.
Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. */
/* @supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
  }

  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
} */




/* #################################### Small screen ##################################### */
/* ####################################################################################### */

@media only screen and (max-width: 900px) {
  .menu {
    display: none;
  }

  .smallMenu {
    border: solid #0C9 0px;
    position: absolute;
    display: inline-block;
    height: 45;
    right: 0px;
    padding: 0px 10px 0px 0px;
    margin: -90px 0px 0px 0px;
    z-index: 50;
  }

  .smallMenu ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: right;
  }

  .smallMenu ul li {
    float: left;
    height: 45px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
  }
}